{
    "name": "azure-devops-snippets",
    "displayName": "Azure DevOps Snippets",
    "description": "Snippets for all officials Azure DevOps YAML tasks",
    "version": "{{version}}",
    "publisher": "damienaicheh",
    "repository": {
		"type": "git",
		"url": "https://github.com/damienaicheh/azure-devops-snippets-generator"
	},
    "icon": "icon.png",
    "engines": {
        "vscode": "^1.44.0"
    },
    "categories": [
        "Snippets"
    ],
    "contributes": {
		"snippets": [{{{snippets}}}]
    }
}